@model IsTakip.Core.Classes.TedarikciClasses.Tedarikci

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tedarikci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tanim" class="control-label"></label>
                <input asp-for="Tanim" class="form-control" />
                <span asp-validation-for="Tanim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OlusturanKullanciId" class="control-label"></label>
                <input asp-for="OlusturanKullanciId" class="form-control" />
                <span asp-validation-for="OlusturanKullanciId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuncelleyenKullanciId" class="control-label"></label>
                <input asp-for="GuncelleyenKullanciId" class="form-control" />
                <span asp-validation-for="GuncelleyenKullanciId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aktif" /> @Html.DisplayNameFor(model => model.Aktif)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
