<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
	<div class="text-dark order-2 order-md-1">
		<span class="text-muted fw-bold me-1">2021©</span>
		<a href="http://www.xyz.com.tr" target="_blank" class="text-gray-800 text-hover-primary">XYZ Teknoloji A.Ş.</a>
	</div>
	<ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
		<li class="menu-item">
			<a href="#" target="_blank" class="menu-link px-2">Portal Hakkında</a>
		</li>
	</ul>
</div>